/* =================Responsive================== */

@media (max-width: 968px) {
    .pointer {
        display: none;
    }

    .navigation {
        width: 100vw;
    }
    .contentBlock3 .slide {
        width: 560px;
        height: 150px;
    }
    /* HOMEPAGE */
    header .menu .main-menu {
        align-items: center;
        margin-right: 0;
    }
    header .menu .menuItem {
        font-size: 4rem;
    }

    .navigation {
        padding: 10px;
        width: 100vw;
    }
    .navigation .box {
        height: 100%;
        margin-top: 10px;
        margin-right: 20px;
        justify-content: flex-start;
    }
    .navigation .targetPage {
        transform: translate(0px, 0px);
    }
    .navigation .logo {
        position: relative;
        transform: translate(0px, 0px);
        z-index: 10000;
    }
    .navigationBar .lang {
        transform: translate(-8px, 20px);
    }

    .navigationBar .lang::after,
    .navigationBar .lang::before {
        position: absolute;
        content: "";
        display: block;
        width: 15px;
        height: 1px;
        background-color: #fff;
    }

    .navigationBar .lang::after {
        top: -10%;
        left: 0;
        transform: rotate(90deg);
    }
    .navigationBar .lang::before {
        top: 90%;
        left: 0;
        transform: rotate(90deg);
    }

    .navigationBar {
        flex-direction: column-reverse;
        gap: 0px;
    }

    /* hover animation */
    .navigation .onClick.iconBar:hover .lineTop,
    .navigation .onClick.iconBar:hover .lineBot {
        top: 25px;
        left: 10px;
        width: 50%;
    }

    .navigation .onClick.iconBar:hover .lineTop {
        transform: rotate(45deg);
    }
    .navigation .onClick.iconBar:hover .lineBot {
        transform: rotate(-45deg);
    }

    .heading {
        font-size: 5.5vw !important;
    }

    .desc {
        font-size: 17px !important;
        text-align: justify;
    }

    /* foooter */
    footer .contentBlockFooter {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer .contentBlockFooter .contentBox {
        padding-top: 0;
    }
    /* =============TextRun=============== */
    .contentBlock1 .textBanner {
        margin-top: 10%;
        gap: 0;
    }
    .contentBlock1 .textRow:nth-child(1){
        transform: unset;
    }
    .contentBlock1 .textRow:nth-child(2){
        transform: unset;
    }
    .contentBlock1 .textRow:nth-child(3){
        transform: unset;
    }

    /* =============Contentblock1=============== */
    .contentBlock1 {
        height: 70vh;
    }
    .contentBlock1 .obj-bg {
        width: 100%;
        height: 100%;
        transform: scale(3.5) translateX(-15%);
    }
    #customerPage .contentBlock1 .obj-bg {
        transform: scale(2.5) translateX(0%);
    }
    
    .contentBlock1 .obj-icon img {
        height: 70vh;
    }
    /* =============CUSTOMERPAGE=============== */
    #customerPage .contentBlock2 {
        row-gap: 10vh;
        padding: 10vh 0;
    }

    #customerPage .contentBlock2 .boxCustomer {
        width: 70%;
    }

    #customerPage .contentBlock2 .boxCustomer:nth-child(2n) {
        transform: translateY(0);
    }

    #customerPage .contentBlock2 .boxCustomer .imageLink {
        top: 5%;
    }

    #customerPage .contentBlock2 .boxCustomer .imageLink .thumb {
        object-fit: scale-down;
        width: 103%;
    }

    #customerPage .contentBlock2 .boxCustomer::after {
        top: 105%;
        height: 50px;
    }

    #customerPage .contentBlock3 {
        height: 50vh;
    }

    /* =============OpenAns Page=============== */
    #openAnsPage .contentBlock1 .textBanner {
        top: 40px;
    }

    #openAnsPage .contentBlock2 {
        align-items: center;
    }

    #openAnsPage .contentBlock2 .contentBox {
        width: 90%;
        margin-top: 5vw;
        padding: 20px;
    }

    #openAnsPage .contentBlock2 .contentBox .heading {
        font-size: 5.5vw;
    }

    #openAnsPage .contentBlock2 .contentBox .desc {
        font-size: 17px;
        text-align: justify;
    }

    .contentBlock2::before {
        bottom: -2vh;
    }

    #openAnsPage .contentBlock3 {
        align-items: center;
    }

    #openAnsPage .contentBlock3 .contentBox {
        margin-top: 0;
        margin-left: 0;
        width: 80%;
    }

    #openAnsPage .contentBlock3 .contentBox .heading {
        font-size: 5.5vw;
    }

    #openAnsPage .contentBlock3 .contentBox .desc {
        font-size: 17px;
        text-align: justify;
    }

    #openAnsPage .contentBlock3 .contentBox .hotline {
        font-size: 17px;
    }

    #openAnsPage .contentBlock4 {
        align-items: center;
    }

    #openAnsPage .contentBlock4 .contentBox {
        transform: scale(2.5);
    }

    #openAnsPage .contentBlock4 .contentBox svg {
        width: 40px;
        height: 40px;
    }

    #openAnsPage .contentBlock5 {
        align-items: center;
        overflow: hidden;
        height: 70vh;
    }

    #openAnsPage .contentBlock5 .contentBox {
        width: 90%;
    }

    #openAnsPage .contentBlock5 .contentBox h3 {
        width: auto;
    }

    #openAnsPage .contentBlock5 .contentBox li {
        flex-wrap: wrap;
        width: auto;
    }

    /* =============Service Page=============== */
    #servicePage .contentBlock2 {
        align-items: center;
        height: 130vh;
    }

    #servicePage .contentBlock2 .contentBox {
        width: 80%;
    }

    #servicePage .contentBlock2 .contentBox .listContent {
        flex-direction: column;
        gap: 20px;
    }

    .listContent .headingList {
        font-size: 130% !important;
    }
    .listContent li {
        width: 80vw !important;
        max-width: unset !important;
        font-size: 110% !important;
    }

    #servicePage .contentBlock3 {
        height: 350px;
    }

    #servicePage .contentBlock3 .contentBox {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-top: 0;
    }

    #servicePage .contentBlock3 .obj-bg {
        width: auto;
        height: 100%;
    }

    #servicePage .contentBlock3 .contentBox .text {
        font-size: 300%;
    }

    #servicePage .contentBlock4 {
        align-items: center;
    }

    #servicePage .contentBlock4 .contentBox {
        width: 80%;
    }

    #servicePage .contentBlock4 .contentBox .listContent {
        flex-direction: column;
    }

    #servicePage .contentBlock5::after {
        height: 16vw;
    }

    #servicePage .contentBlock5 {
        align-items: center;
    }

    #servicePage .contentBlock5 .contentBox {
        width: 80%;
    }

    #servicePage .contentBlock6::after {
        height: 16vw;
    }

    .contentBlock6 {
        align-items: center;
    }

    .contentBlock6 .contentBox {
        width: 80%;
    }

    #servicePage .contentBlock6::after {
        height: 16vw;
    }

    #servicePage .contentBlock6::before {
        height: 16vw;
    }

    #servicePage .contentBlock7 {
        align-items: center;
    }

    #servicePage .contentBlock7 .contentBox {
        width: 80%;
        top: unset;
    }

    #servicePage .contentBlock7 .contentBox h3 {
        width: auto;
    }

    #servicePage .contentBlock7 .contentBox li {
        flex-wrap: wrap;
    }

    /* =============Contacts Page=============== */

    #contactsPage .contentBlock2 {
        height: 50vh;
        align-items: center;
        overflow: hidden;
    }

    #contactsPage .contentBlock2 .contentBox {
        width: 90%;
        top: unset;
        left: unset;
        margin: 0;
    }
    #contactsPage .contentBlock2 .contentBox h3 {
        width: auto;
    }

    #contactsPage .contentBlock2 .contentBox li {
        flex-wrap: wrap;
    }

    #contactsPage .contentBlock3 {
        height: 50vh;
        overflow: hidden;
        align-items: center;
    }

    #contactsPage .contentBlock3 .contentBox .text {
        font-size: 350%;
    }
}

/* mobile */
@media (max-width: 576px) {
    /* height moible */
    .heightMB {
        height: var(--heightMB) !important;
    }

    .navigation .logo {
        width: 38%;
    }

    .navigation .targetPage .namePage {
        font-size: 14px;
    }

    .contentBlock3 .slide {
        width: 360px;
        height: 150px;
    }

    .contentBlock3 .slide .logoPic {
        position: absolute;
        display: block;
        width: 50%;
        transition: all 0.3s ease-in-out;
    }

    .contentBlock3 .slide .logoPic:nth-child(1) {
        left: -50%;
    }
    .contentBlock3 .slide .logoPic:nth-child(2) {
        left: 0;
    }
    .contentBlock3 .slide .logoPic:nth-child(3) {
        left: 50%;
    }
    .contentBlock3 .slide .logoPic:nth-child(n + 4) {
        left: 100%;
    }

    /* =============Contentblock1=============== */
    .contentBlock1 .obj-icon img {
        height: 50vh;
        transform: scale(1.5);
    }
    /* =============CUSTOMERPAGE=============== */
    #customerPage .contentBlock2 .boxCustomer {
        height: 35vh;
    }

    #openAnsPage .contentBlock2 {
        height: 100vh !important;
    }

    #openAnsPage .contentBlock3 {
        height: 120vh;
    }
}

@media (max-width: 430px) {
    #openAnsPage .contentBlock2 {
        height: 1100px !important;
    }
    #openAnsPage .contentBlock3 {
        height: 1500px;
    }
    #servicePage .contentBlock2 {
        height: 140vh;
    }
    #contactsPage .contentBlock2 {
        height: 70vh;
    }
}
