/* ==========================contentBlock1============================= */

.contentBlock1 {
    position: relative;
    width: 100%;
    background: linear-gradient(270deg, #ffb80c 50%, #ffa400 100%);
    overflow: hidden;
}

.contentBlock1 .contentTranslate {
    transform: translateY();
    transition: all 0.3s linear;
}

.contentBlock1 .obj-bg {
    width: 100%;
}

.contentBlock1 .obj-icon {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    right: 0;
    z-index: 10;
    transition: all 5s cubic-bezier(0.17, 0.74, 0.34, 1.19);
}

.contentBlock1 .obj-icon img {
    width: 100vw;
    height: 100vh;
}

/* text benner */
.contentBlock1 .textBanner {
    position: absolute;
    content: "";
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    transform: translateY(-30px);
}

.contentBlock1 .textBanner .thisBox {
    width: max-content;
    --width: max-content;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10vw;
    font-weight: 700;
    line-height: 1;
    display: block;
    padding: 0 2vw;
    white-space: nowrap;
}

.contentBlock1 .textRow:nth-child(1) .thisBox {
    animation: runText_toLeft 40s linear infinite;
}

.contentBlock1 .textRow:nth-child(2) .thisBox {
    animation: runText_toLeft 30s linear infinite;
}
.contentBlock1 .textRow:nth-child(2) {
    transform: translateY(-20px);
}

.contentBlock1 .textRow:nth-child(3) .thisBox {
    animation: runText_toRight 35s linear infinite;
}

.contentBlock1 .textRow:nth-child(3) {
    transform: translateY(-10px);
}

.contentBlock1 .textBanner .thisBox large {
    font-size: 150%;
    -webkit-text-stroke: 4px #fff;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.contentBlock1 .textBanner .thisBox strong {
    font-weight: 900;
    -webkit-text-stroke: 4px #fff;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

@keyframes runText_toLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(var(--contentWidth)));
    }
}
@keyframes runText_toRight {
    from {
        transform: translateX(calc(var(--contentWidth)));
    }
    to {
        transform: translateX(0);
    }
}
/* ==========================contentBlock2============================= */

.contentBlock2 {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #6c70b0;
}

.contentBlock2::before {
    position: absolute;
    display: block;
    content: "";
    background-color: #6c70b0;
    width: 100%;
    height: 7vw;
    transform: skewY(-3deg);
    left: 0;
    bottom: -1px;
    z-index: 10;
}

.contentBlock2::after {
    position: absolute;
    display: block;
    content: "";
    background-color: #6c70b0;
    width: 100%;
    height: 7vw;
    transform: skewY(-3deg);
    top: -3.5vw;
    left: 0;
    z-index: 10;
}

.contentBlock2 .contentBox {
    padding-top: 10vw;
    max-width: 910px;
    color: #fff;
}

.contentBlock2 .contentBox .heading {
    font-size: 3vw;
    font-weight: 300;
    line-height: 1.2;
    margin: 0 0 20px;
}

.contentBlock2 .contentBox .desc {
    font-size: calc(100vw / 80);
    font-weight: 300;
    line-height: 1.5;
    margin: 0 0 20px;
}

/* ==========================contentBlock3============================= */

.contentBlock3 {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #bfefee;
    overflow: hidden;
}

.contentBlock3 .obj-bg {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 60%;
}

.contentBlock3 .contentBox {
    margin-left: 20vw;
    padding-top: 10vw;
    max-width: 910px;
    color: #444;
}

.contentBlock3 .contentBox .quote {
    font-size: 4vw;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
}

.contentBlock3 .contentBox .heading {
    font-size: 3vw;
    font-weight: 300;
    line-height: 1.2;
    margin: 0 0 20px;
}

.contentBlock3 .contentBox .desc {
    font-size: calc(100vw / 80);
    font-weight: 300;
    line-height: 1.5;
    margin: 0 0 20px;
}

.contentBlock3 .contentBox .hotline {
    font-size: calc(100vw / 80);
    text-align: end;
    font-weight: 900;
    margin-top: 10px;
}

/* ==========================contentBlock4============================= */

.contentBlock4 {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50vh;
    background-color: #b2cc8b;
}

.contentBlock4::before {
    position: absolute;
    content: '';
    pointer-events: none;
    background-color: #bfefee;
    width: 100%;
    height: 6vw;
    transform: skewY(3deg);
    top: -3vw;
    left: 0;
}

.contentBlock4::after {
    position: absolute;
    content: '';
    pointer-events: none;
    background-color: #b2cc8b;
    width: 100%;
    height: 6vw;
    transform: skewY(-3deg);
    left: 0;
    bottom: -3vw;
    z-index: 10;
}

.contentBlock4 .contentBox {
    padding-top: 10vw;
    max-width: 910px;
    color: #444;
}

.contentBlock4 .contentBox button {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    color: #FFF;
}

.contentBlock4 .contentBox .text {
    font-family: "Roboto", sans-serif;
    font-size: 4vw;
    font-weight: 100;
    line-height: 1;
    text-align: right;
    margin: 0 5px;
    padding: 5px 10px;
    text-shadow: 0 5px 20px rgb(0 0 0 / 10%);
}

.contentBlock4 .contentBox .text strong {
    font-weight: 900;
}

.contentBlock4 .contentBox svg {
    width: 80px;
    height: 80px;
    box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
}

/* ==========================contentBlock5============================= */

.contentBlock5 {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    h130
    background-color: #b2cc8b;
    overflow-x: hidden;
}

.contentBlock5 .pic-svg {
    width: 100vw;
    height: auto;
    left: 0;
    top: 0;
    pointer-events: none;
    position: absolute;
}

.contentBlock5 .pic-svg img {
    width: 100vw;
    height: 100%;
    transform: scale(1.25) translateY(10vh);
}

.contentBlock5 .contentBox {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}

.contentBlock5 .contentBox h2 {
    font-size: 5vw;
    font-weight: 100;
    line-height: 1.2;
    letter-spacing: 0;
    margin: 20px 0;
}

.contentBlock5 .contentBox h3 {
    width: 1280px;
    font-size: 24px;
    line-height: 1.4;
    font-weight: 900;
    text-align: center;
    margin: 20px 0;
}

.contentBlock5 .contentBox li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vh;
}

.contentBlock5 .contentBox li span {
    vertical-align: middle;
}

.contentBlock5 .contentBox li svg {
    width: 30px;
    height: 30px;
    color: rgba(255,255,255,.5);
}

.contentBlock5 .contentBox li>p {
    font-weight: 400;
    font-size: 115%;
    margin: 0 -5px;
    padding: 5px;
    vertical-align: middle;
}

.contentBlock5 .contentBox li a {
    font-size: 120%;
    margin: 0 5px 10px 0;
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
    color: currentColor;
    text-decoration: none;
    font-weight: 300;
    line-height: 1.5;
}