/* ==========================contentBlock1============================= */

.contentBlock1 {
    position: relative;
    width: 100%;
    background: #f9db3e;
    overflow: hidden;
}

.contentBox {
    transition: all 0.1s ease;
}

.contentBlock4 .contentBox {
    transition: all 0.3s linear;
}

.contentBlock1 .obj-bg {
    width: 100%;
}

.contentBlock1 .obj-icon {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    right: 0;
    z-index: 10;
    transition: all 5s cubic-bezier(0.17, 0.74, 0.34, 1.19);
}

.contentBlock1 .obj-icon img {
    width: 100vw;
    height: 100vh;
}

/* text benner */
.contentBlock1 .textBanner {
    position: absolute;
    content: "";
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    transform: translateY(-30px);
}

.contentBlock1 .textBanner .thisBox {
    width: max-content;
    --width: max-content;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10vw;
    font-weight: 700;
    line-height: 1;
    display: block;
    padding: 0 2vw;
    white-space: nowrap;
}

.contentBlock1 .textRow:nth-child(1) .thisBox {
    animation: runText_toLeft 40s linear infinite;
}
.contentBlock1 .textRow:nth-child(1) {
    transform: translateY(50px);
}
.contentBlock1 .textRow:nth-child(2) .thisBox {
    animation: runText_toLeft 30s linear infinite;
}
.contentBlock1 .textRow:nth-child(2) {
    transform: translateY();
}

.contentBlock1 .textRow:nth-child(3) .thisBox {
    animation: runText_toRight 35s linear infinite;
}

.contentBlock1 .textRow:nth-child(3) {
    transform: translateY(-30px);
}

.contentBlock1 .textBanner .thisBox large {
    font-size: 150%;
    -webkit-text-stroke: 4px #fff;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.contentBlock1 .textBanner .thisBox strong {
    font-weight: 900;
    -webkit-text-stroke: 4px #fff;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

@keyframes runText_toLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(var(--contentWidth)));
    }
}
@keyframes runText_toRight {
    from {
        transform: translateX(calc(var(--contentWidth)));
    }
    to {
        transform: translateX(0);
    }
}
/* ==========================contentBlock2============================= */
.contentBlock2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 10vh 0 40vh 0;
    gap: 5vw;
    row-gap: 60vh;
    background-color: #e3bbc3;
}

.contentBlock2::before {
    position: absolute;
    display: block;
    content: "";
    background-color:#e3bbc3;
    width: 100%;
    height: 7vw;
    transform: skewY(-3deg);
    left: 0;
    bottom: -5vh;
    z-index: 10;
}

.contentBlock2::after {
    position: absolute;
    display: block;
    content: "";
    background-color: #e3bbc3;
    width: 100%;
    height: 7vw;
    transform: skewY(-3deg);
    top: -3.5vw;
    left: 0;
    z-index: 10;
}


.contentBlock2 .boxCustomer{
    position: relative;
    width: 40%;
    height: 60vh;
    /* background-color: red; */
    border: 1px solid #fff;
    z-index: 11;
}
.contentBlock2 .boxCustomer::after{
    position: absolute;
    content: '';
    top: 100%;
    left: 50%;
    width: 1px;
    height: 60vh;
    background-color: #fff;
    
}
.contentBlock2 .boxCustomer:nth-child(2n){
    transform: translateY(25vh);
}

.contentBlock2 .boxCustomer.last::after{
    display: none;
}

.contentBlock2 .boxCustomer .imageLink{
    position: absolute;
    top: -15%;
    left: 3%;
    width: 94%;
    height: 70%;
    z-index: -1;
    overflow: hidden;
}

.contentBlock2 .boxCustomer .imageLink .thumb{
    width: 103%;
    height: 103%;
    transform: translate(-3%, -3%);
    transition: all 0.5s ease-in;
}
.contentBlock2 .boxCustomer .imageLink:hover .thumb{
    transform: translate(0%, -3%);
}

.contentBlock2 .boxCustomer .name {
    position: absolute;
    bottom: 10%;
    left: 3%;
    font-size: 2.8vw;
    text-transform: uppercase;
    text-shadow: 0 10px 30px rgb(0 0 0 / 15%);
    font-weight: 900;
    line-height: 1;
    padding: 15px 0 5px;
    color: #fff;
    text-align: left;
    white-space: nowrap;
    mix-blend-mode:difference;
}

.contentBlock2 .boxCustomer .label{
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    text-align: left;
    white-space: nowrap;
    mix-blend-mode: difference;
}

@keyframes filter {
    %0{
        fi
    }
    100%{

    }
}

/* ==========================contentBlock4============================= */

.contentBlock3 {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90vh;
    background-image: url(../images/imgContacts/bg.png);
    background-size: cover;
}

.contentBlock3::before {
    position: absolute;
    content: "";
    pointer-events: none;
    background-color: #f9db3e;
    width: 100%;
    height: 6vw;
    transform: skewY(-3deg);
    top: -3vw;
    left: 0;
}

.contentBlock3::after {
    position: absolute;
    content: "";
    pointer-events: none;
    background-color: #d9996b;
    width: 100%;
    height: 6vw;
    transform: skewY(3deg);
    left: 0;
    bottom: -3vw;
    z-index: 10;
}

.contentBlock3 .contentBox {
    position: absolute;
    margin-top: 10px;
    max-width: 910px;
    color: #444;
    z-index: 100;
}

.contentBlock3 .contentBox:hover button{
    color: var(--color-bg2);
}

.contentBlock3 .contentBox button {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.contentBlock3 .contentBox .text {
    font-family: "Roboto", sans-serif;
    font-size: 4vw;
    font-weight: 100;
    line-height: 1;
    text-align: right;
    margin: 0 5px;
    padding: 5px 10px;
    text-shadow: 0 5px 20px rgb(0 0 0 / 10%);
}

.contentBlock3 .contentBox .text strong {
    font-weight: 900;
}

.contentBlock3 .contentBox svg {
    width: 80px;
    height: 80px;
    box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
}

.contentBlock3 .boxObject {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 4s cubic-bezier(0.17, 0.74, 0.34, 1.19);
}

.contentBlock3 .boxObject .object{
    position: absolute;
    top: var(--top);
    left: var(--left);
    width: var(--width);
    transform: scale(var(--scale));
    opacity: 0;
}

.contentBlock3 .boxObject .object.ZoomOut_Hidden{
    animation: object_ZoomOut_Hidden var(--duration) ease-in-out infinite;
    animation-delay: var(--delay);
}
.contentBlock3 .boxObject .object.ZoomIn_Hidden{
    animation: object_ZoomIn_Hidden var(--duration) ease-in-out infinite;
    animation-delay: var(--delay);
}
/* ==========================flexible footer============================= */
footer .contentBlockFooter{
    background-color: #d9996b !important;
}
footer .contentBlockFooter:after{
    top: 0vw;
}
/* ==========================whiteLine============================= */


.whiteLine {
    position: absolute;
    left: 50%;
    width: 1px;
    height: 5vw;
    top: -6vw;
    background-color: #fff;
    pointer-events: none;
    z-index: 110000;
}

.contentBlock3 .whiteLine {
    top: 0vw;
}
.contentBlock4 .whiteLine {
    top: 0.5vw;
}
.contentBlock5 .whiteLine {
    top: 0.5vw;
}