* {
    box-sizing: border-box;
}

:root {
    --color-bg1: #24547f;
    --color-bg2: #463b75;
    --color-bg3: #d9996b;
    --color-bg4: #86506c;
    --color-bg5: #206a54;
    --color-bg6: #779273;
    --color-bg7: #e48f92;
    --color-bg8: #6dbcc5;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

/* ============================================== */
main {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.navigation {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    background-color: aqua;
    z-index: 100;
}

.navigation .iconBar {
    display: block;
    width: 70px;
    height: 60px;
    color: #000;
}

.iconBar .lineMid {
    
}

.background {
    background-color: var(--color-bg7);
}

.background .themes {
    animation: scale linear 30s infinite;
}

@keyframes scale {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(2);
    }
}