.contentBlock1 {
    width: 100%;
    background: linear-gradient(270deg,#ffb80c 50%,#ffa400 100%);
}

.contentBlock1 .obj-bg {
    width: 100%;
}

.contentBlock2 {
    background: linear-gradient(270deg,#ffb80c 50%,#18c615 100%);
}