/* ==========================contentBlock1============================= */
.contentBlock1 {
    width: 100%;
    background: linear-gradient(270deg,#ffb80c 50%,#ffa400 100%);
}

.contentBlock1 .obj-bg {
    width: 100%;
}



/* ==========================contentBlock2============================= */

.contentBlock2 {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #6c70b0;
}

.contentBlock2::after {
    position: absolute;
    display: block;
    content: '';
    background-color: #6c70b0;
    width: 100%;
    height: 7vw;
    transform: skewY(-3deg);
    top: -3.5vw;
    left: 0;
}

/* ==========================contentBlock3============================= */

.contentBlock3 {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #6c70b0;
}